.form-field {
  width: 80%;
}

.card-primary {
  margin-top: 10%;
  text-align: center;
  padding: 5%;
  width: 80%;
}

.card-secondary {
  padding: 8% 5% 5%;
  background-color: whitesmoke;
}
